@font-face {
    font-family: 'Inter';
    src: url('../../vendor/Inter-VariableFont_slnt,wght.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url(../../vendor/static/Inter-ExtraBold.ttf);
    font-weight: bold;
}


.page {
    font-family: 'Inter';
    color: #FFFFFF;

    margin: 0 auto;
}