.places {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 797px) {
    .places {
        width: 94%;
    }
}

@media screen and (max-width: 753px) {
    .places {
        width: 100%;
    }
}