.place__image {
    max-width: 460px;
    height: auto;
    grid-row: 2/3;
    grid-column: 1/2;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}
@media screen and (max-width: 797px) {
    .place__image {
        max-width: 340px;
    }
}
@media screen and (max-width: 753px) {
    .place__image {
        max-width: 100%;
        grid-row: 3/3;
    }
}