.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px auto 0 auto;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead {
        margin-top: 48px;
        max-width: 928px;
    }
}

@media screen and (max-width: 797px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (max-width: 753px) {
    .lead {
        max-width: 320px;
    }
}

