.lead__title {
    margin: 0 0 32px 0;
    font-style: bold;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    width: 720px;
}

@media screen and (max-width: 753px) {
    .lead__title {
        margin-bottom: 16px;
        font-style: normal;
        font-size: 40px;
        line-height: 1.1;
        width: 288px;
    }
}