.intro {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}


@media screen and (max-width: 797px) {
    .intro {
        width: 94%;
    }
}