.intro {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .intro {
        width: 95%;
    }
}