.cover {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
    }
}