.cover__overlay {
    display: flex;
    background-color: rgba(42, 44, 47, 0.3);
    transition: background-color 0.5s ease;
    text-decoration: none;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.7);
}