.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 48px 24px 48px;
}

@media screen and (max-width: 753px) {
    .footer {
        flex-direction: column;
        margin: 0 0 24px 16px;
    }
}